
# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=0

# The entry name that will be displayed in the boot menu
:xernel

# Change the protocol line depending on the used protocol.
PROTOCOL=limine

# Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
KERNEL_PATH=boot:///xernel

# NOTE: we abuse the MODULE_CMDLINE variable to pass a name of the module
MODULE_PATH=boot:///logo.bmp
MODULE_CMDLINE="logo"

MODULE_PATH=boot:///xernel
MODULE_CMDLINE="xernel"